<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
  <category id="sources" label="Sources">
    <setting id="source_gamecube" type="folder" label="Legacy/default GameCube folder" default=""/>
    <setting id="source_wii" type="folder" label="Legacy/default Wii folder" default=""/>
    <setting id="source_gba" type="folder" label="Legacy/default Game Boy Advance folder" default=""/>
  </category>
  <category id="emulators" label="Emulators">
    <setting id="emulator_dolphin" type="file" label="Dolphin executable" default="C:\Emulation\Emulators\Dolphin\Dolphin.exe"/>
    <setting id="emulator_mgba" type="file" label="mGBA executable" default="C:\Emulation\Emulators\mGBA\mGBA.exe"/>
    <setting id="emulator_retroarch" type="file" label="RetroArch executable" default="C:\Emulation\Emulators\RetroArch\retroarch.exe"/>
    <setting id="emulator_pcsx2" type="file" label="PCSX2 executable" default=""/>
    <setting id="emulator_rpcs3" type="file" label="RPCS3 executable" default=""/>
    <setting id="emulator_ppsspp" type="file" label="PPSSPP executable" default=""/>
    <setting id="emulator_citra" type="file" label="Citra executable" default=""/>
    <setting id="emulator_cemu" type="file" label="Cemu executable" default=""/>
    <setting id="emulator_yuzu" type="file" label="yuzu executable" default=""/>
    <setting id="emulator_xenia" type="file" label="Xenia executable" default=""/>
    <setting id="emulator_xemu" type="file" label="xemu executable" default=""/>
    <setting id="emulator_vita3k" type="file" label="Vita3K executable" default=""/>
    <setting id="emulator_ps4" type="file" label="PS4 emulator executable" default=""/>
  </category>
  <category id="metadata" label="Metadata">
    <setting id="steamgriddb_api_key" type="string" label="SteamGridDB API key" default="" option="hidden"/>
    <setting id="metadata_fetch_fanart" type="boolean" label="Download hero fanart from SteamGridDB" default="true"/>
    <setting id="metadata_fetch_logos" type="boolean" label="Download logos from SteamGridDB" default="true"/>
    <setting id="metadata_fetch_on_scan" type="boolean" label="Offer artwork fetch after scan" default="true"/>
    <setting id="screenscraper_user" type="string" label="ScreenScraper username (optional fallback)" default=""/>
    <setting id="screenscraper_password" type="string" label="ScreenScraper password" default="" option="hidden"/>
    <setting id="igdb_client_id" type="string" label="IGDB client id (optional fallback)" default=""/>
    <setting id="igdb_client_secret" type="string" label="IGDB client secret" default="" option="hidden"/>
  </category>
  <category id="development" label="Development">
    <setting id="dev_mock_library" type="boolean" label="Show mock games when database is empty" default="true"/>
    <setting id="debug_logging" type="boolean" label="Debug logging" default="true"/>
  </category>
</settings>
